.green {
    background-color: green;
    color: white
}
.yellow {
    background-color: yellow;
    color: black
}
.orange {
    background-color: orange;
    color: black
}
.red {
    background-color: red;
    color: white
}
.purple {
    background-color: purple;
    color: white
}
.black {
    background-color: black;
    color: white
}