<div class="center-content">
    <img src="/assets/missoula-osteopathic-clinic-new-logo-cropped-r2de9l47vd7x3i91ovtn5aqyyjm4fjapttn9e3jfgg.png">
    <div class="standout-title">Rate your joints!</div>
    Your regenerative health journey starts with a rating your current joint condition.
</div>   
<div>

<p><a class="button fancy-button inline" routerLink="/questions" routerLinkActive="active" title="Questions">
        <i class="material-icons">assignment</i>
        <span>Questions</span>
    </a>
    Please select Question to rate your joints.</p>
<p>
    <a class="button fancy-button inline" routerLink="/results" routerLinkActive="active" title="View Results">
        <i class="material-icons">list</i>
        <span>Results</span>
    </a>
    When complete, the Results can be viewed. You will have the option to forward to the clinic.
</p>
</div>