<div class="center-content">
    <img src="/assets/missoula-osteopathic-clinic-new-logo-cropped-r2de9l47vd7x3i91ovtn5aqyyjm4fjapttn9e3jfgg.png">
    <div class="standout-title">Ligament Health Screen</div>

    <li>Please select 
        <a class="button fancy-button inline" routerLink="/questions" routerLinkActive="active" title="Questions">
            <i class="material-icons">assignment</i>
            <span>Questions</span>
        </a>
        to begin the ligament health screen.</li>
    <li>When complete, the 
        <a class="button fancy-button inline" routerLink="/results" routerLinkActive="active" title="View Results">
            <i class="material-icons">list</i>
            <span>Results</span>
        </a>
        can be viewed and saved for consultation.
    </li>
</div>