.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: auto;
  border-collapse: collapse;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.6em;

  th, td {
    padding: 0.75em 1em;
    text-align: left;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
  }

  button {
    font-size: 1.2em !important;
    padding: 0.36em 0.96em !important;
  }
}